/* *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: consolas;
}

body{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
      background: #091921;
} */
.clock{
      width: 150px;
      height: 150px;
      background: url(img/clock.png) no-repeat;
      background-size: cover;
      position: absolute;
      top: 15px;
      left: 15px;
      
      display: flex;
      justify-content: center;
      align-items: center;
      border: 8px solid #091921;
      border-radius: 50%;
      box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.05),
                  20px 20px 20px rgba(0, 0, 0, 0.3),
                  inset -8px -8px 15px rgba(255, 255, 255, 0.05),
                  inset 20px 20px 20px rgba(0, 0, 0, 0.3);
      -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(255, 255, 255, 0.281));
}

.clock::before{
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      background: #2196f3;
      z-index: 10000;
      border-radius: 50%;
}

.hour,
.min,
.sec{
      position: absolute;
}

.clock .hour, .hr{
      width: 100px;
      height: 60px;
}

.clock .min, .mn{
      width: 100px;
      height: 80px;
}

.clock .sec, .sc{
      width: 100px;
      height: 5px;
}

.hr, .mn, .sc{
      display: flex;
      justify-content: center;
      position: absolute;
}

.hr::before{
      content: '';
      position: absolute;
      width: 2px;
      height: 30px;
      background: indianred;
      border-radius: 6px 6px 0 0;
}

.mn::before{
      content: '';
      position: absolute;
      width: 1px;
      height: 40px;
      background: rgb(0, 255, 178);
      border-radius: 6px 6px 0 0;
}

.sc::before{
      content: '';
      position: absolute;
      width: 1px;
      height: 50px;
      background: #2196f3;
      border-radius: 6px 6px 0 0;
}

#digitalClock{
      position: absolute;
      bottom: 60px;
      left: 20px;
      display: flex;
      color: rgba(255, 255, 255, 0.363);
      font-size: 48px;
      margin-top: 20px;
      -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.479));
}

#seconds{
color: rgba(255, 255, 255, 0.363);
}

#hour{
color: rgba(255, 255, 255, 0.363);
}

#minutes{
color: rgba(255, 255, 255, 0.363);
}